*{
    font-family: 'Open Sans', sans-serif;
}
.text-primary {
    color: #005FAC;
}
.btn-primary {
    height: 64px;
    border-radius: 5px;
    background-color: #FFFFFF;;
    color: #005FAC;
    border: 0;
    padding: 18px 35px;
    font-weight: 600;
    font-size: 20px;
    
   

}
.btn{
    float:right;
    padding: 0px 230px 24px 845px;
    text-align: right;
      
}
.header{
     color: #FFFFFF;  
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 808px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:0px 100px;
    border-radius: 5px;
    
}
.header-tittle{
    font-weight: 700;
   font-size: 55px;
   padding: 0px 230px 0px 845px;
   text-align: right 

}
.header-text{
  font-size: 16px;
  padding: 0px 230px 24px 845px;  
  text-align: right; 
  font-weight: 400;
}
.main{
    padding: 131px 322px 38px 206px;
    display: flex;
    text-align: left;
}
.main-img{
             padding: 0px 50px;
}
.main-right{
    padding: 172px 264px 85px 120px;   
}
.main-header{
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    inline-size: 350px;
    
    
}
.main-text{
    font-size: 16px;
  font-weight: 400;
  align-items: right;
    border-radius: 5px;
    inline-size: 450px;
}

nav ul{
    
    align-items: left;
    padding-left: 10px;
}
nav li {
    list-style: none;
    margin:50px 0px; 
}
.my{
    color: #151414;
    font-weight: 700;
    font-size: 28px;
   margin-left: 850px;
   
    
}
.my-plan{
    font-weight: 700;
    font-size: 30px;
    display: flex;
    text-align: center;
    padding: 12px 220px 0px 180px;
   
}
.start{
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}
.ecom{
   
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
    
}
.end{
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}
.develop{
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}
.learn{
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    color: #737272;
}

/* header text  */
.web{
   font-size: 18px;
   padding-left: 150px;
  padding-right: 120px;
}
.java{
    font-size: 18px;
    padding-right: 120px;
    
}
.smoke{
    font-size: 18px;
    padding-right: 120px;
}
.ecom{
    font-size: 18px;
    padding-right: 120px;
    color: #151414;
}

/* footer */

.call{
    background-image: url(../images/gradient1.png), url(../images/watch.png);
    background-repeat: no-repeat;
    height: 250px;
    width: 50%;
    display: flex;
    padding: 5px 50px;
    border-radius: 10px;
    margin-top: 110px;
    margin-left: 350px;
    margin-bottom: 120px;
}

.call-text{
   
}
.call-text a{
    text-decoration: none;
}
.call h1{
    color: rgb(240, 232, 232);
    margin-bottom: 10px;
}
.call-btn{
    padding: 10px 20px;
    background-color: white;
    color: #005FAC;
    border:none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
}
.call-btn:hover{
    background-color: rgb(241, 234, 232);
    color: rgb(255, 255, 255);
}



/* main footer section */

.footer-future{
    width: 80%;
    margin: 20px 300px;
    justify-content: space-around;

}
.footer-future h1{
    font-weight: 700;
    font-size: 45px; 
}
.footer-future p{
    font-weight: 400;
   font-size: 16px;
   line-height: 20px;
}
.footer-start{
    
    background-color: black;
    color:  #FFFFFF;
    width: 1600px;
    height: 300px;
    padding: 130px 20px;
    
}
.footer-file{
    display: flex;

}
.many{
    padding-right: 400px;

}
.sub{
    padding-right: 40px;
    
}
.social-media{
    margin-top: 50px;

}
.footer-subscribe{
    
    line-height: 80px;
  text-align: left;
    
}

.submit{
    padding: 18px 35px;
    background-color: #005FAC;
    color: #FFFFFF;
    border-radius: 5px;
    width: 170.11px;
    height: 64px;
    text-decoration: none;
    

}
.submit:hover{
    background-color: yellowgreen;
    color: rgb(255, 255, 255);
}

.pl{
    background-color: #151414;
    color: #FFFFFF;
    padding: 10px 25px;
    border-radius: 8px;
}
